<header class="bg-slate-800 text-white p-4">
    <div class="text-base flex flex-row">
        <div class="flex">
            <div>International Schools in Hanoi</div>
        </div>
        <div class="flex flex-grow"></div>
        <div class="flex flex-row gap-4">
            <a>Home</a>
            <a>Contact Directory</a>
            <a>lupe</a>
        </div>
    </div>
    <div class="text-4xl max-w-2xl mx-auto p-8 text-center">
        <h1>Counselor Contacts of International Schools in Hanoi for University Visits</h1>
    </div>

</header>
