<header class="bg-slate-800 text-white font-sans font-medium p-4">
    <div class="flex items-center justify-between">
        <div>International Schools in Hanoi</div>
        <div class="flex gap-4">
            <a href="/">Home</a>
            <a href="/contact">Contact Directory</a>
        </div>
    </div>
    <div class="text-lg md:text-4xl max-w-2xl mx-auto p-8 text-center">
        <h1 class=" tracking-wider">Counselor Contacts of International Schools in Hanoi for University Visits</h1>
    </div>
</header>

<div class="bg-blue-500 h-96 m-4">
    <div>map</div>
