---
import MapContainer from '../components/react/MapContainer.jsx'
import '../globals.css'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Counseling Map</title>
    <link rel='stylesheet' href='node_modules/ol/ol.css' />
    <link type='image/png' rel='icon' href='/favicon.png' />
  </head>
  <body class='font-sans'>
    <main>
      <MapContainer client:load />
    </main>
  </body>
</html>
