---
import Map from '../components/react/Map.jsx'
import MapContainer from '../components/react/MapContainer.jsx'
import '../globals.css'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>Counseling Map</title>
    <link rel='stylesheet' href='node_modules/ol/ol.css' />
    <link type='image/png' rel='icon' href='/public/favicon.png' />
    <style>
      @font-face {
        font-family: 'Inter var';
        src: url('/fonts/Inter.var.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Roboto Mono';
        src: url('/fonts/RobotoMono.ttf') format('truetype');
      }
    </style>
  </head>
  <body class='font-sans'>
    <main>
      <MapContainer client:load />
    </main>
  </body>
</html>
